USE [telefon] /*tablo adi*/
GO
/****** Object:  Table [dbo].[model]    Script Date: 15.12.2019 13:37:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[model](
	[NO] [int] IDENTITY(1,1) NOT NULL,
	[TELEFON ADI] [varchar](50) NULL,
	[FİYAT] [int] NULL,
	[BATARYA] [int] NULL,
	[KAMERA] [int] NULL,
	[BELLEK] [int] NULL,
	[EKRAN_BOYUTU] [int] NULL,
 CONSTRAINT [PK_model] PRIMARY KEY CLUSTERED 
(
	[NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
